.boxColor {
    background: blue
}

.box1 {
    margin: 40px;
    padding: 20px;
    border: blue solid 5px;
    display: block;
    float: left;
}

.box2 {
    margin-right: 0px;
}

.box3 {
    margin-top: 20px;
    padding: 20px;
}