* {
    box-sizing: border-box;
}

:root {
 --primary: white;
 --text: #222222;
 --answer: #2d9b7c;
 --clickbtn: rgb(0, 166, 255);   
}

body {
    background: var(--primary);
    color: var(--text);
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Veranda, Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: #999999;
    padding: 30px 25px;
    border-radius: 15px;
    border: #555555 solid 5px;
     
}