* {
    box-sizing: border-box;
}

:root {
 --primary: white;
 --text: #222222;
 --shadow: #333333;
 --answer: #2d9b7c;
 --clickbtn: rgb(0, 166, 255);   
}

body {
    background: var(--primary);
    color: var(--text);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Veranda, Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: #999999;
    padding: 30px 25px;
    border-radius: 15px;
    border: var(--shadow) solid 5px;

}

/* button */
.btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--answer);
    font-size: 2.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--shadow);
  }
  
  .btn:hover {
    box-shadow: 0 2px var(--shadow);
    top: -2px;
  }
  .btn:active {
    box-shadow: 0 0px var(--shadow);
    top: 0;
  }

  /* @media screen and (max-width: 900px)

  /* element style affects the boxes:

  * {
    box-sizing: border-box; (keeps the boxes from running out to infinity or under another box)
  }

  .page-content {
  flex: 1; (makes boxes taller)
  display: flex; (creates columns next to each other)
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto; (centers the content better)
  width: 95%; (centers the content much better)
}
    */ 
